$primaryColor: #E50914;
$baseColor: #000000;
$fontColor: #FFFFFF;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
  color: $fontColor;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 100%;
  position: relative;
  font-size: 1.6rem;
  background-color: $baseColor;
}

section {
  border-bottom: .8rem solid #222222;
}

h1, h2 {
  font-size: 5rem;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.container-email {
  p {
    margin-bottom: 2rem;
    font-size: 1.9rem;
  }

  .container-email-form {
    display: flex;
    justify-self: center;
    align-items: center;
    height: 60px;

    input[type="email"] {
      min-width: 450px;
      height: 100%;
      padding: 1.5rem 1rem;
      font-size: 1.6rem;
      color: $baseColor;
    }

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      border-radius: 0;
      font-size: 2.6rem;

      &:hover {
        background-color: lighten($primaryColor, 5%);
      }

      img {
        width: 1.5rem;
        margin-left: 1rem;
      }
    }
  }
}
