@import 'describe-base';
@import 'describe-tv';
@import 'describe-off';
@import 'describe-every';


@media (max-width: 855px) {
  .describe {
    grid-template-columns: 1fr;
    padding: 7rem 0;
    text-align: center;
  }
}
