*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  background-color: #000000;
  font-size: 1.6rem;
}

section {
  border-bottom: .8rem solid #222222;
}

.body-home h1, .body-home h2 {
  font-size: 5rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container-email {
  width: 100%;
  max-width: 680px;
}

.container-email p {
  margin-bottom: 2rem;
  font-size: 1.9rem;
}

.container-email .container-email-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.container-email .container-email-form input[type="email"] {
  width: 100%;
  height: 100%;
  padding: 1.5rem 1rem;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 1.6rem;
  color: #000000;
}

.container-email .container-email-form .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border-radius: 0 4px 4px 0;
  white-space: nowrap;
  font-size: 2.6rem;
}

.container-email .container-email-form .btn:hover {
  background-color: #f6121d;
}

.container-email .container-email-form .btn img {
  width: 1.5rem;
  margin-left: 1rem;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 2.5rem 4.5rem 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
}

.navbar #logo {
  width: 135px;
  height: 40px;
}

.btn {
  cursor: pointer;
  padding: .8rem 2rem;
  border: none;
  border-radius: 4px;
  background-color: #E50914;
  font-size: 1.6rem;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  position: relative;
  z-index: 1;
  background: url(../img/bg-hero.jpg) no-repeat center/cover;
}

.hero::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(70%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7))), radial-gradient(50% 100%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.7) 100%), radial-gradient(50% 100%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
}

.hero .hero-container {
  max-width: 600px;
  width: 100%;
  margin-top: 8rem;
  z-index: 3;
  text-align: center;
}

.hero .hero-container h1 {
  line-height: 110%;
}

.hero .hero-container h2 {
  margin: 1.5rem 0 3rem;
  font-size: 2.6rem;
  font-weight: 400;
}

.describe {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 475px;
}

.describe > div {
  padding: 0 5%;
  overflow-x: hidden;
}

.describe .describe-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 545px;
}

.describe .describe-txt h2 {
  line-height: 110%;
  margin-bottom: 2rem;
}

.describe .describe-txt p {
  font-size: 2.6rem;
}

.describe .describe-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 600px;
  position: relative;
}

.describe .describe-media .video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

.describe .describe-media .video-container img {
  width: 100%;
  z-index: 2;
}

.describe .describe-media .video-container video {
  position: absolute;
  z-index: -1;
}

.describe-tv .describe-media img {
  max-width: 530px;
}

.describe-tv .describe-media video {
  width: 73%;
  top: 82px;
}

.describe-off .describe-media img {
  max-width: 500px;
}

.describe-off .describe-media .describe-downloading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 330px;
  height: 100px;
  position: absolute;
  top: 80%;
  left: 50%;
  padding: 0 1rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #000000;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: .75rem;
}

.describe-off .describe-media .describe-downloading .describe-downloading-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.describe-off .describe-media .describe-downloading .describe-downloading-inf {
  margin-right: 7rem;
  margin-left: 1.5rem;
}

.describe-off .describe-media .describe-downloading .describe-downloading-inf span {
  display: block;
  font-weight: 500;
}

.describe-off .describe-media .describe-downloading .describe-downloading-inf span:nth-of-type(2) {
  font-size: 1.4rem;
  color: #0071eb;
}

.describe-off .describe-media .describe-downloading img.describe-downloading-boxshot {
  width: 55px;
  height: 80px;
}

.describe-off .describe-media .describe-downloading img.describe-downloading-loading {
  width: 50px;
  height: 50px;
}

.describe-every .describe-media img {
  max-width: 555px;
}

.describe-every .describe-media video {
  width: 62%;
  top: 42px;
}

.faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7rem 5%;
}

.faq h2 {
  margin-bottom: .5em;
}

.faq .faq-accordion {
  width: 100%;
  max-width: 815px;
  margin: 6rem 0;
}

.faq .faq-accordion .faq-btn, .faq .faq-accordion .faq-accordion-content {
  width: 100%;
  background-color: #303030;
  font-size: 2.6rem;
}

.faq .faq-accordion .faq-btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .1rem;
  padding: 0 3rem;
  border: none;
  text-align: left;
}

.faq .faq-accordion .faq-btn .faq-btn-plus {
  font-size: 6rem;
  font-weight: 100;
}

.faq .faq-accordion .active .faq-btn-plus {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.faq .faq-accordion .active + .faq-accordion-content {
  max-height: 1200px;
  -webkit-transition: max-height 0.4s cubic-bezier(0.85, 0, 0.24, 1.06);
  transition: max-height 0.4s cubic-bezier(0.85, 0, 0.24, 1.06);
}

.faq .faq-accordion .faq-accordion-content {
  max-height: 0;
  margin-bottom: .8rem;
  overflow: hidden;
  -webkit-transition: max-height 0.4s cubic-bezier(0.85, 0, 0.24, 1.06);
  transition: max-height 0.4s cubic-bezier(0.85, 0, 0.24, 1.06);
}

.faq .faq-accordion .faq-accordion-content div {
  padding: 3rem;
}

.faq .faq-accordion .faq-accordion-content div p:not(:last-child) {
  margin-bottom: 4rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 42.5rem;
  padding-left: 4.5rem;
}

footer * {
  color: #757575;
}

footer .footer-content {
  width: 100%;
  max-width: 900px;
}

footer .footer-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 3rem 0 2rem;
  font-size: 1.3rem;
}

footer .footer-list li:not(:last-child) {
  margin-bottom: 1.6rem;
}

footer .footer-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
  height: 50px;
  margin-bottom: 2.4rem;
  padding: 0 1rem;
  position: relative;
  background-color: transparent;
}

footer .footer-select #globesvg {
  width: 15px;
  height: 15px;
}

footer .footer-select select {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #333;
  border-radius: 4px;
  font-size: 1.6rem;
  padding-left: 4.5rem;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

footer .footer-select select:focus {
  border: 1px solid white;
}

footer .footer-select select option {
  padding-left: 3.5rem;
  border: none;
  background-color: #000000;
}

footer .footer-select #dropsvg {
  width: 14px;
}

@media (max-width: 1125px) {
  .describe {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 7rem 0;
    text-align: center;
  }
}

@media (max-width: 786px) {
  html {
    font-size: 50%;
  }
  .hero-container {
    margin-right: 5%;
    margin-left: 5%;
  }
  .container-email .container-email-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .container-email .container-email-form .btn {
    min-height: 40px;
    margin-top: 1rem;
    border-radius: 2px;
    font-size: 1.6rem;
  }
  footer .footer-list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 560px) {
  footer .footer-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 365px) {
  footer {
    padding-top: 5%;
  }
  footer .footer-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=main.css.map */