*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
  color: $fontColor;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  background-color: $baseColor;
  font-size: 1.6rem;
}

section {
  border-bottom: .8rem solid #222222;
}

.body-home h1, .body-home h2 {
  font-size: 5rem;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
